sensi.username=username
sensi.password=password

# Uncomment for postgres
#spring.datasource.url=jdbc:postgresql://localhost/sensi
#spring.datasource.username=username
#spring.datasource.password=password
